.container {
    display: grid;
    grid-template-rows: 100px / 6fr;
    grid-template-columns: 100px / 6fr;
}

body {
    font-family: "Poppins", sans-serif;
    color: #585d5f;
    background-color: rgb(249, 237, 219);
}

header {
    background-color: #ffdd99;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

ul {
    display: flex;
    list-style-type: none; 
    justify-content: space-evenly;
}    

#facts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#facts-list li {
    display: flex;
    align-items: center;
    flex-direction: column; 
    text-align: left;
    padding: 30px;
    margin: 30px;
}

#facts-list li img {
    width: 260px;
    height: 280px;
    margin-right: 20px;
    border-radius: 20px;
}

footer {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    text-align: center;
    background-color: #ffdd99;
}

a:hover {
    color: #9f60ce;
}