/* body  */

body {
    cursor: url('../images/cursor_1.png'), auto; 
    background-color: #fdfdf6;
    background-image: url("../images/cute-pug.jpg");
    background-attachment: fixed;
    background-size: 6%;
    }

h1 {
    font-size: xx-large;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: #084a83;
    border-style: dotted;
    border-radius: 25px;
    padding: 15px;
}

ul {
    list-style: none;
    text-align: center;
    font-size: large;
    }

nav a {
    color: #084a83;
    text-decoration: none;
    font-weight: bold;
    }

nav a:hover {
    color: #aa7b52;
    text-decoration: underline;
    }

    /* Header #2 */

h2 {
    text-align: center;
    /* text-decoration: underline black; */
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.6);
    color: #084a83;
    border-style: dotted;
    border-radius: 25px;
}
p {
    text-align: center;
    font-size: x-large;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.6);
    color: #084a83;
    /* border: black 1px solid; */
    border-style: dotted;
    border-radius: 25px;

}

/* Main */
h3{
    text-align: center;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.6);
    color: #084a83;
    padding: 1%;
    /* border: black 1px solid; */
    border-style: dotted;
    border-radius: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 15px;
}
.img-size {
    width: 450px;
    height: 500px;
    border: solid 1px black
}

/* Footer */

footer {
    text-align: center;
    font-weight: bold;
    border: none;
    padding: 0;
    color: #084a83;
}


.ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.top-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.side-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1%;
}
.pug-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.para-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.para-h3-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}